{% extends 'base.html' %}

{% block title %}Edit{% endblock %}
{% block upload_css %}
<style>
.pad{
    background-color:lavender;
    border:solid 2px;
    padding-top:30px;
    padding-bottom:50px;
    padding-left:100px;
    margin-top:50px;
    margin-right:70px;
    margin-left:70px;
}
table th{
    padding:5px 10px;
}
table td{
    padding:5px 10px;
}
th,td{
    border:solid 1px #aaaaaa;
}
input{
    width:200px;
    height:30px;
}
textarea{
    width:500px;
    height:300px;
}
</style>
{% endblock %}

{% block contents %}
<br>
        <div class="pad">
            <h2>編集</h2>
            <p>レシピを編集してください</p>
            <br>
            <form action="{{url_for('mainapp.edit',id=recipi.id)}}" method="POST" enctype="multipart/form-data" novalidate="novalidate">
                {{form.csrf_token}}
                <p>
                    {{form.title.label}}
                    {{form.title(placeholder="料理名")}}
                    {% for error in form.title.errors %}
                    <span style="color:red">{{error}}</span>
                    {% endfor %}
                </p>
                <p>
                    {{form.material.label}}
                    {{form.material(placeholder="材料")}}
                </p>
                <p>
                    {{form.how_to.label}}
                    {{form.how_to(placeholder="作り方")}}    
                </p>
                <p>
                    {{form.p.label}}
                    {{form.p(placeholder="入力例：30(単位不要)")}}
                    {% for error in form.p.errors %}
                    <span style="color:red">{{error}}</span>
                    {% endfor %}
                </p>
                <p>
                    {{form.f.label}}
                    {{form.f(placeholder="入力例：10(単位不要)")}}
                    {% for error in form.f.errors %}
                    <span style="color:red">{{error}}</span>
                    {% endfor %}
                </p>
                <p>
                    {{form.c.label}}
                    {{form.c(placeholder="入力例：70(単位不要)")}}
                    {% for error in form.c.errors %}
                    <span style="color:red">{{error}}</span>
                    {% endfor %}
                </p>
                <p>
                    {{form.kcal.label}}
                    {{form.kcal(placeholder="入力例：500(単位不要)")}}
                    {% for error in form.kcal.errors %}
                    <span style="color:red">{{error}}</span>
                    {% endfor %}
                </p>
                <p>
                    {{form.url.label}}
                    {{form.url(placeholder="参照元url")}}
                    {% for error in form.url.errors %}
                    <span style="color:red">{{error}}</span>
                    {% endfor %}
                </p>
                <p>
                    現在の画像: <img src="{{ recipi.image_path }}" alt="画像" style="width:200px;">
                </p>
                <p>
                    {{form.image.label}} (変更する場合のみ選択)
                    {{form.image()}}
                    {% for error in form.image.errors %}
                    <span style="color:red">{{error}}</span>
                    {% endfor %}
                </p>
                <p>
                    {{form.submit()}}
                </p>
            </form>
        </div>
{% endblock %}