{% extends 'base.html' %}

{% block title %}Fittness_Recipi{% endblock %}

{% block top_css %}
<style>
  .heart_btn{
    border: none;
    background: transparent;
    color: red;
  }
  .plus_btn {
    position: fixed;
    color: black;
    top: 70px;
    right: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.3s ease;
  }
  .plus_btn:hover {
    transform: scale(1.1);
  }
</style>
{% endblock %}


{% block top_js %}
<script src="{{ url_for('mainapp.static',filename='js/jquery-3.7.1.min.js') }}"></script>

<script>
  // let click_heart_num_list = [];
  // function aiueo(id){
  //   recipi_id = id.substr(-1);
  //   if (!(recipi_id in click_heart_num_list)){
  //     click_heart_num_list[recipi_id] = 0;
  //   }
  //   click_heart_num_list[recipi_id] += 1;
  //   id = 'heart_svg' + recipi_id;
  //   const heart_btn = document.getElementById(id);
  //   if (click_heart_num_list[recipi_id] % 2 == 1){
  //     heart_btn.innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" id="${id}" class="bi bi-heart-fill" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/></svg>`;
  //   }
  //   else{
  //     heart_btn.innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" id="${id}" class="bi bi-heart" viewBox="0 0 16 16" ><path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/></svg>`;
  //   }
  // }



</script>
{% endblock %}

{% block contents %}


  <div class="album py-5 bg-body-tertiary">
    <div class="container">
      <p id="search_form">
        <form method="POST" action="{{url_for('mainapp.index')}}">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
          <input type="text" id="search_input" name="kensaku">
          <input type="submit" style="display: none;">
        </form>
      </p>
      {% if flag%}
      <h1>"<span>{{ keyword }}</span>"の検索結果</h1>
      <p><a href="{{url_for('mainapp.index')}}">トップへ戻る</a></p>
      {% endif %}
<form method="GET">
  <select name="sort">
    <option value="">並び替えなし</option>
    <option value="p_desc">P 多い順</option>
    <option value="p_asc">P 少ない順</option>
    <option value="f_desc">F 多い順</option>
    <option value="f_asc">F 少ない順</option>
    <option value="c_desc">C 多い順</option>
    <option value="c_asc">C 少ない順</option>
    <option value="kcal_desc">カロリー 多い順</option>
    <option value="kcal_asc">カロリー 少ない順</option>
  </select>
  <button type="submit">並び替え</button>
</form>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">


        {% for recipi in user_recipis %}
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{ recipi.image_path }}" 
            alt="画像" 
            class="bd-placeholder-img card-img-top" 
            width="100%" height="225" 
            xmlns="http://www.w3.org/2000/svg" 
            role="img" aria-label="Placeholder: Thumbnail" 
            preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c"/>
            <div class="card-body">
              <p class="card-text">{{recipi.title}}</p>
              <p class="card-text">P:{{recipi.p}}g F:{{recipi.f}}g C:{{recipi.c}}g {{recipi.kcal}}kcal</p>
              <p style="padding-left: 90%;">
                {% if like_id_dict[recipi.id] %}
                <button class="heart_btn" id="t_heart{{ recipi.id }}" onclick="like(this.id)">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16" id="heart_svg{{ recipi.id }}">
                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                  </svg>
                </button>
                {% else %}
                <button class="heart_btn" id="f_heart{{ recipi.id }}" onclick="like(this.id)">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16" id="heart_svg{{ recipi.id }}">
                    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                  </svg>
                </button>
                {% endif %}
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{{url_for('mainapp.show_detail',id=recipi.id)}}">
                    <button type="button" class="btn btn-sm btn-outline-secondary">詳細</button>
                  </a>
                  <a href="{{url_for('mainapp.userpage',username=recipi.username)}}">
                    <button type="button" class="btn btn-sm btn-outline-secondary">{{recipi.username}}</button>
                  </a>

                </div>
                <small class="text-body-secondary">{{recipi.username}}</small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="d-flex justify-content-end mb-4">
        {{pagination.info}}
      </div>
      <div class="d-flex justify-content-end mb-4">
        {{pagination.links}}
      </div>
    </div>
  </div>

  <!-- プラスボタン（レシピ投稿） -->
  <a href="{{url_for('mainapp.upload')}}" class="plus_btn">
    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
      <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
      <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
    </svg>
  </a>

  <script>

  let click_heart_num_list = [];
  function like(id){
    // const recipi_id = id.substr(-1);
    const recipi_id = id.replace(/[^0-9]/g, '');//resipi_idをidから抜き取る
    if (!(recipi_id in click_heart_num_list)){
      click_heart_num_list[recipi_id] = 0;
    }
    let like_true_or_false = id.slice(0,1);
    console.log(like_true_or_false);
    if(click_heart_num_list[recipi_id] == 0){
      if(like_true_or_false == 't'){
          click_heart_num_list[recipi_id] = 1;
      }
    } 
    id = 'heart_svg' + recipi_id;
    click_heart_num_list[recipi_id] += 1;

    $.ajax("/main/like_post",{
        type: "post",
        data:  {"recipi_id": recipi_id,"like_num": click_heart_num_list[recipi_id]}
      }).done(function(received_data){
        console.log('成功');
        console.log(received_data);
      }).fail(function(){
        console.log('失敗');
      });
  

    const heart_btn = document.getElementById(id);
    //上が赤、下がデフォ
    if (click_heart_num_list[recipi_id] % 2 == 1){
      heart_btn.innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" id="${id}" class="bi bi-heart-fill" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/></svg>`;
    }
    else{
      heart_btn.innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" id="${id}" class="bi bi-heart" viewBox="0 0 16 16" ><path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/></svg>`;
    }
  }


    // $(function(){
    //   console.log('jquery start');
    //   $.ajax("/main/like_post",{
    //     type: "post",
    //     data:  {"data": 'hello'}
    //   }).done(function(received_data){
    //     console.log('成功');
    //     console.log(received_data);
    //   }).fail(function(){
    //     console.log('失敗');
    //   });

    // });

 
  </script>

{% endblock %}
